<div class="social-links">
    {% if site.username.github %}
    <a href="https://www.github.com/{{ site.username.github }}" class="fab fa-github"></a>
    {% endif %}
    {% if site.username.facebook %}
    <a href="https://www.facebook.com/{{ site.username.facebook }}" class="fab fa-facebook"></a>
    {% endif %}
    {% if site.username.x %}
    <a href="https://www.x.com/{{ site.username.x }}" class="fab fa-x-twitter"></a>
    {% endif %}
    {% if site.username.instagram %}
    <a href="https://www.instagram.com/{{ site.username.instagram }}" class="fab fa-instagram"></a>
    {% endif %}
    {% if site.username.tiktok %}
    <a href="https://www.tiktok.com/@{{ site.username.instagram }}" class="fab fa-tiktok"></a>
    {% endif %}
    {% if site.username.pinterest %}
    <a href="https://www.pinterest.com/{{ site.username.pinterest }}" class="fab fa-pinterest"></a>
    {% endif %}
    {% if site.username.snapchat %}
    <a href="https://www.snapchat.com/@{{ site.username.snapchat }}" class="fab fa-snapchat"></a>
    {% endif %}
    {% if site.username.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.username.linkedin }}" class="fab fa-linkedin"></a>
    {% endif %}
    {% if site.username.reddit %}
    <a href="https://www.reddit.com/r/{{ site.username.reddit }}" class="fab fa-reddit"></a>
    {% endif %}
</div>
